/* Pretty printing styles. Used with rtsh.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000; }  /* plain text */

/* Prettyprinted Container */
.prettyprint-code { overflow: hidden;padding: 12px 0 0;position: relative;z-index: 10; }
    body .prettyprint-code .copy-source { background: #FFF;border: 1px solid #CCC;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;display: block;height: 22px;line-height: 22px;padding: 0 20px;position: absolute;right: 5px;text-align: center;text-decoration: none;text-transform: uppercase;top: 0;z-index: 100;color: #333;font-family: "Impact", Charcoal, sans-serif;font-size: 14px; }
    body .prettyprint-code .copy-source:hover { color: #111; }

/* Prettyprinted code snippets */
pre.prettyprint { background: #F1F1F1;font-family: monospace;margin: 0 0 20px;overflow: hidden;padding: 5px;position: relative;white-space: pre-wrap; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { list-style: decimal;margin: 0 0 0 40px; } /* IE indents via margin-left */
ol.linenums li { margin: 0; list-style: decimal; } /* IE indents via margin-left */

@media screen {
  .str { color: #080; }         /* string content */
  .kwd { color: #008; }         /* a keyword */
  .com { color: #800; }         /* a comment */
  .typ { color: #606; }         /* a type name */
  .lit { color: #066; }         /* a literal value */
  
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660; }
  .tag { color: #008; }         /* a markup tag name */
  .atn { color: #606; }         /* a markup attribute name */
  .atv { color: #080; }         /* a markup attribute value */
  .dec, .var { color: #606; }   /* a declaration; a variable name */
  .fun { color: #f00; }         /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #066; }
  .pun, .opn, .clo { color: #440; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}